body {
    background-image: linear-gradient(white 60%, #91c4ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backface-visibility: hidden;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.5em;
    text-align: center;
    line-height: 1.35em;
    color: #424242;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

h2 {
    font-family: 'Comfortaa', 'sans-serif';
    font-size: 2em;
    color: #ef9a9a;
    margin: 0.35em 0em;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #424242;
    margin: 0em 0em 2.5em 0em;
}

a {
    color: #d86573;
}

li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #424242;
    margin: 0.1em 0em;
}

div#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
}

div#underline {
    background-image: linear-gradient(to right, #91c4ff, #ef9a9a);
    width: 45%;
    height: 0.5em;
    border-radius: 0.25em;
}

div#job-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0em 2em;
}

div#job-border {
    background-image: linear-gradient(to bottom right, #91c4ff, #ef9a9a);
    display: flex;
    align-items: center;
    border-radius: 1em;
    width: 65%;
    padding: 3px;
}

div#job-body {
    background-color: #fafafa;
    padding: 2em 2em 0em 2em;
    width: 100%;
    border-radius: 0.8em;
}

img#title-image {
    width: 15em;
    height: auto;
}